<!DOCTYPE html>
<html>
<head>
<style>
</style>
<link href="daCSS.css" rel="stylesheet" type="text/css">
</head>
<body>
   <a href="file:///C:/Users/acoyne/Documents/html/Home.html" class="home-button">Home</a>
  <div class="login-container">
    <h4 class="titlesmall">Group 8</h4>
    <h2 class="titlebig">Address Verification System</h2>
    <h3>Admin Login</h3>
    <form action="Admin-Home.html" method="post"> 
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" required><br><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>
      <button type="submit" class="login-button">Login</button>
    </form>
   
   
  </div>

</body>
</html>
